@tailwind base;
@tailwind components;
@tailwind utilities;

@layer modal {
	.background {
		@apply fixed inset-0 w-full p-4 md:inset-0 max-h-full
	}

	.container {
		@apply relative flex flex-col float-right bg-white rounded-3xl w-80 h-72 mt-20 shadow-lg items-center justify-center
	}
	
	.profile-container {
		@apply flex relative bg-slate-100 w-72 h-36 mb-3 rounded-3xl shadow-xl 
	}

	.profile-image-container {
		@apply flex absolute w-1/3 h-full left-0
	}

	.profile-image {
		@apply absolute w-11/12 rounded-full border-emerald-400 border-4 m-3
	}

	.profile-content-container {
		@apply absolute content-around w-3/5 h-full right-0
	}

	.profile-name-container {
		@apply  mt-6 w-full pr-2
	}

	.profile-name {
		@apply text-xl font-semibold text-gray-600
	}

	.profile-email-container {
		@apply absolute mt-[-1vh] w-full pr-2
	}

	.profile-email {
		@apply  text-[0.45rem] font-bold text-gray-600
	}

	.profile-massege-container {
		@apply absolute h-1/2 w-full bottom-0 pr-2 pb-2
	}

	.profile-massege {
		@apply text-gray-600 text-start text-[0.7rem] leading-[0.85rem]
	}


	.profile-button-container {
		@apply flex relative bg-slate-100 mt-1 w-72 h-12 rounded-3xl shadow-xl justify-center items-center
	}

	.profile-button-text {
		@apply text-lg font-semibold text-gray-600
	}

	.logout {
		@apply absolute bottom-3 right-5 text-gray-400 text-sm 
	}


	.close-button {
		@apply absolute top-2 right-3 p-0 text-gray-400 text-lg
	}
}
